* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.container-1 {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  position: fixed;
  height: 100%;
  padding-top: 20px;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
  overflow-y: auto;
  height: 100vh;
}

section {
  height: 100vh;
  border-bottom: 1px solid #ddd;
}
.logo {
  height: 80px;
}
.navigation {
  height: calc(80vh - 100px);
}
.nav-link,
.nav-link:hover {
  color: white;
}
i {
  color: white;
}
.img-box-1 {
  height: 400px;
  background-image: url("IMG_20220511_101944_283-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.75rem rgb(52, 52, 52));
}
h1 {
  font-weight: 800;
}
.img-box-about {
  background-color: #333;
  height: 400px;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.75rem rgb(52, 52, 52));
}
